body{
background-color:#FF7E00;;
color:white;
text-align:center;
}
h1{
color:red;
font-style:italic;
text-align:center;
}
#news{
background-color:silver;
width: 50%;
float:left;
}
h2{
color:silver;
font-style:italic;
text-align:center;
}
#fun{
background-color:white;
width: 50%;
float: right;
}
